<%-include("partials/header")%>
<div class="app-wrap">

  <form action="/results" method="GET">
    <input type="text" name="city" autocomplete="off" class="search-box" placeholder="Search for a city....." />
    <button class="btn" type="submit">Search</button>
  </form>

</div>
<!--<script src="app.js"></script>-->

<%-include("partials/footer")%>