:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-blue-dark: #00001f;
  --color-blue-light: #039be5;
  --color-pink-dark: #e91e63;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
  color: #fff;
  box-sizing: border-box;
  background-color: var(--color-blue-dark); }

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 3fr 3.5fr 3fr;
  height: 100vh; }

.app-wrap {
  grid-column: 2/3;
  background-image: url("/stylesheets/img/weather.gif");
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  overflow: hidden;
  display: grid;
  justify-items: center;
  height: 95vh;
  grid-template-rows: 3fr 1fr 2fr 1fr 1fr; }

.search {
  grid-row: 4/5; }
  .search .search-box {
    padding: 1.3rem 2rem;
    border: none;
    justify-self: center;
    display: block;
    width: 150%;
    border-radius: 0.5rem; }

/*
.bg-video{
  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    overflow: hidden;
}*/
.temp {
  grid-row: 1/2;
  justify-self: center;
  font-size: 10rem; }

.now {
  grid-row: 2/3; }
  .now .weather {
    justify-self: center; }
  .now .hi-low {
    justify-self: center; }
  .now .city {
    justify-self: center;
    align-content: center; }
