.search-box {
  grid-row: 1/2;
  padding: 1.3rem 2rem;
  border: none;
  display: block;
  width: 150%;
  border-radius: 0.5rem;
  transform: translateX(-15%);
}
.location {
  .city {
  }
  .date {
  }
}

.temp {
}
.weather {
}
.hi-low {
}
