.app-wrap {
  //<img src="/stylesheets/img/weather.gif" alt="weather" class='bg-video'>
  grid-column: 2/3;
  border-radius: 0.8rem;
  box-shadow: var(--shadow-dark);
  background-image: url('/stylesheets/img/weather.gif');
  
 
  //grid-row: 2/3;
  top:0;
 // position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    overflow: hidden;
    

  display: grid;
  justify-items: center;
  height: 95vh;

  grid-template-rows: 3fr 2fr 3fr 2fr;

  .temp{
    font-size: 10rem;
    grid-row: 1/2;
    display: inline;
    position: relative;
    
    &-temp{
     
    }
    &-celsius{
      top:3.6rem;
      position: absolute;
       font-size: 3rem;
      
    }
  }

  .now{
    grid-row: 2/3;
   // position: relative;
    .city{
      //position: absolute;
      top:0;
      text-transform: uppercase;
      font-size: 2.5rem;
    }
    .weather{
      //position:absolute;
    }
  }
}

