.app-wrap {
  //<img src="/stylesheets/img/weather.gif" alt="weather" class='bg-video'>
  grid-column: 2/3;
  background-image: url('/stylesheets/img/weather.gif');
  
 
  //grid-row: 2/3;
  top:0;
 // position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    overflow: hidden;
    

  display: grid;
  justify-items: center;
  height: 95vh;

  grid-template-rows: 3fr 1fr 2fr 1fr 1fr;
}

